PORT=5000
MONGO_URI= your mongoDB URL
CLIENT_URL=http://localhost:3000
JWT_SECRET=moffin_jwt_secret_key_default_2026
JWT_EXPIRES_IN=7d

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
